    {% extends "main.html" %}

    {% block title %}Explore Services - Service Provider{% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    {% endblock %}

    {% block scripts %}
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
    {% endblock %}

    {% block content %}
    <script src="{{ url_for('static', filename='js/explore_services.js') }}"></script>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">AYS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">My Requests</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">User</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </nav>
      
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Explore Services</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
    </main>

    <div class="jumbotron">
      <div class="container marketing">
          <p>What services do you need?</p>

          <div class="row">
            <div class="col-sm-2">
              <div class="row justify-content-center">
                <svg class="bd-placeholder-img rounded-circle " width="75" height="75" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              </div>
              <p class="text-center">Academic Tutorials</p>
            </div>

            <div class="col-sm-2">
              <div class="row justify-content-center">
                <svg class="bd-placeholder-img rounded-circle " width="75" height="75" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              </div>
              <p class="text-center">Academic Tutorials</p>
            </div>

            <div class="col-sm-2">
              <div class="row justify-content-center">
                <svg class="bd-placeholder-img rounded-circle " width="75" height="75" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              </div>
              <p class="text-center">Academic Tutorials</p>
            </div>

            <div class="col-sm-2">
              <div class="row justify-content-center">
                <svg class="bd-placeholder-img rounded-circle " width="75" height="75" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              </div>
              <p class="text-center">Academic Tutorials</p>
            </div>

            <div class="col-sm-2">
              <div class="row justify-content-center">
                <svg class="bd-placeholder-img rounded-circle " width="75" height="75" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              </div>
              <p class="text-center">Academic Tutorials</p>
            </div>

            <div class="col-sm-2">
              <div class="row justify-content-center">
                <svg class="bd-placeholder-img rounded-circle " width="75" height="75" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              </div>
              <p class="text-center">Academic Tutorials</p>
            </div>
          </div>
      </div>
    </div>

    <div class="container">
      <table
        id="table"
        data-search="true"
        data-pagination="true"
        data-page-size="6"
        data-show-custom-view="true"
        data-custom-view="customViewFormatter"
        data-show-custom-view-button="true">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="follower">Follower</th>
            <th data-field="following">Following</th>
            <th data-field="snippets">Snippets</th>
          </tr>
      </thead>
      </table>

      <template id="profileTemplate">
        <div class="col-4 mt-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-lg-8 col-md-6">
                  <h3 class="mb-0 text-truncated">%NAME%</h3>
                  <p class="lead">Web / UI Designer</p>
                  <p>
                    I love to read, hang out with friends, watch football, listen to music, and learn new things.
                  </p>
                  <p>
                    <span class="badge badge-info tags">html5</span>
                    <span class="badge badge-info tags">css3</span>
                    <span class="badge badge-info tags">nodejs</span>
                  </p>
                </div>
                <div class="col-12 col-lg-4 col-md-6 text-center">
                  <img src="%IMAGE%" alt="" class="mx-auto rounded-circle img-fluid" style="height: 120px;">
                  <br>
                  <ul class="list-inline ratings text-center" title="Ratings">
                    <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-lg-4">
                  <h3 class="mb-0">%FOLLOWER%</h3>
                  <small>Followers</small>
                  <button class="btn btn-block btn-outline-success" title="Follow"><span class="fa fa-plus-circle"></span></button>
                </div>
                <div class="col-12 col-lg-4">
                  <h3 class="mb-0">%FOLLOWING%</h3>
                  <small>Following</small>
                  <button class="btn btn-outline-info btn-block" title="View Profile"><span class="fa fa-user"></span></button>
                </div>
                <div class="col-12 col-lg-4">
                  <h3 class="mb-0">%SNIPPETS%</h3>
                  <small>Snippets</small>
                  <button type="button" class="btn btn-outline-primary btn-block" title="Options"><span class="fa fa-cog"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <hr/>
    </div>
    {% endblock %}