    {% extends "main.html" %}

    {% block title %}Explore Services - Service Provider{% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <style>
      body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
      }
    </style>
    {% endblock %}

    {% block scripts %}
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
    {% endblock %}

    {% block content %}
    <script>
      $(function() {
        $('#table').bootstrapTable({
          data: JSON.parse('{{ services | tojson | safe}}')
        })
      })

      function customViewFormatter (data) {
        var template = $('#profileTemplate').html();
        var view = '';

        $.each(data, function (i, row) {
          var stars = ''
          for (i = 0; i < 5; i++) {

            if (i < row.service_user_rating) {
              stars += '<span class="fa fa-star" style="color:#EFFD5F"></span> ';
            }
            else {
              stars += '<span class="fa fa-star" style="color:grey"></span> ';
            }
          }

          var trusted = ''
          if (row.service_user_is_trusted) {
            trusted = '<span class="badge badge-info tags">Trusted</span>';
          }
          else {
            trusted = '';
          }

          var level = ''
          switch (row.service_user_level) {
            case 1:
              level = '<span class="badge badge-info tags">Basic</span>';
              break;
            case 2:
              level = '<span class="badge badge-info tags">Semi</span>';
              break;
            case 3:
              level = '<span class="badge badge-info tags">Full</span>';
              break;
          }

          var month = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
          
          var date_posted = new Date(row.service_date_posted);
          date_posted = month[date_posted.getMonth()+1] + ' ' + date_posted.getDate() + ', ' + date_posted.getFullYear();
          
          var schedule = new Date(row.service_schedule);
          schedule = month[schedule.getMonth()+1] + ' ' + schedule.getDate() + ', ' + schedule.getFullYear();
          
          view += template
            .replaceAll('%TITLE%', row.service_title)
            .replaceAll('%DESCRIPTION%', row.service_description)
            .replaceAll('%USER%', row.service_user)
            .replaceAll('%USER_FIRST_NAME%', row.service_user_first_name)
            .replaceAll('%USER_MIDDLE_NAME%', row.service_user_middle_name)
            .replaceAll('%USER_LAST_NAME%', row.service_user_last_name)
            .replaceAll('%USER_RATING%', stars)
            .replaceAll('%USER_LEVEL%', level)
            .replaceAll('%USER_IS_TRUSTED%', trusted)
            .replaceAll('%DATE_POSTED%', date_posted)
            .replaceAll('%SCHEDULE%', schedule)
            .replaceAll('%LOCATION%', row.service_location)
            .replaceAll('%TYPE%', row.service_type)
            .replaceAll('%CATEGORY%', row.service_category)
            .replaceAll('%AMOUNT%', row.service_amount);
        })
        
        return `<div class="row mx-0">${view}</div>`;
      }
    </script>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">At Your Service</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">My Requests</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">User</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </nav>
      
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Explore Services</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>
      </div>
    </main>

    <div class="jumbotron">
      <div class="container">
          <p class="lead">Featured Service Categories</p>

          <div class="row">
            {% for service_category in featured_service_categories %}
            <div class="col-sm-2">
              <div class="row justify-content-center py-3">
                <img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Service Category">
              </div>
              <p class="text-center">{{ service_category["service_category_name"] }}</p>
            </div>
            {% endfor %}
          </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
          <p class="lead">Featured Service Providers</p>

          <div class="row">
            {% for featured_service_provider in featured_service_providers %}
            <div class="col-sm-2">
              <div class="row justify-content-center py-3">
                <img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Service Category">
              </div>
              <p class="text-center">{{ featured_service_provider["user_name"] }}</p>
            </div>
            {% endfor %}
          </div>
      </div>
    </div>

    <div class="container pb-5">
      <p class="lead">Explore Services</p>
      <table
        id="table"
        data-search="true"
        data-show-search-button="true"
        data-show-search-clear-button="true"
        data-advanced-search="true"
        data-strict-search="true"
        data-id-table="advancedTable"
        data-show-refresh="true"
        data-pagination="true"
        data-page-size="6"
        data-pagination-h-align="left"
        data-pagination-detail-h-align="right"
        data-show-custom-view="true"
        data-show-custom-view-button="true"
        data-custom-view="customViewFormatter">
        <thead>
          <tr>
            <th data-field="service_id">Service ID</th>
            <th data-field="service_title">Service Title</th>
            <th data-field="service_description">Service Description</th>
            <th data-field="service_user">Service User</th>
            <th data-field="service_user_first_name">Service User First Name</th>
            <th data-field="service_user_middle_name">Service User Middle Name</th>
            <th data-field="service_user_last_name">Service User Last Name</th>
            <th data-field="service_user_rating">Service User Rating</th>
            <th data-field="service_user_level">Service User Level</th>
            <th data-field="service_user_is_trusted">Service User Is Trusted</th>
            <th data-field="service_date_posted">Service Date Posted</th>
            <th data-field="service_schedule">Service Schedule</th>
            <th data-field="service_location">Service Location</th>
            <th data-field="service_type">Service Type</th>
            <th data-field="service_category">Service Category</th>
            <th data-field="service_amount">Service Amount</th>
          </tr>
      </thead>
      </table>

      <template id="profileTemplate">
        <!-- Card -->
        <div class="col-4 mt-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="row justify-content-center py-3">
                    <div class="col-3 px-2">
                      <img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Service">
                    </div>
                    <div class="col-8 mx-2">
                      <h4 class="modal-title" id="exampleModalLabel">%TITLE%</h4>
                      <p class="lead">%USER%</p>
                    </div>
                  </div>
                  <p>%USER_RATING%</p>
                  <p>%USER_LEVEL% %USER_IS_TRUSTED%</p>
                  <p>%DESCRIPTION%</p>
                  <p><small>Posted on %DATE_POSTED%</small></p>
                  <button class="btn btn-secondary"><i class="far fa-heart"></i></button>
                  <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">More info...</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="container">
                  <div class="row">
                    <div class="col-3">
                      <img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Service">
                    </div>
                    <div class="col">
                      <h3 class="modal-title" id="exampleModalLabel">%TITLE%</h5>
                      <p class="lead">%USER%</p>
                      <p>%USER_RATING%</p>
                      <p>%USER_LEVEL% %USER_IS_TRUSTED%</p>
                    </div>
                  </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid py-3">
                  <p><b>Service Provider:</b> %USER_FIRST_NAME% %USER_MIDDLE_NAME% %USER_LAST_NAME%</p>
                  <p></p>
                  <p><b>Service Category:</b> %CATEGORY%</p>
                  <p><b>Service Type:</b> %TYPE%</p>
                  <p><b>Description:</b></p>
                  <p>%DESCRIPTION%</p>
                  <p><b>Schedule:</b> %SCHEDULE%</p>
                  <p><b>Location:</b> %LOCATION%</p>
                  <p><b>Amount:</b> ₱%AMOUNT%</p>
                </div>
                <div class="container-fluid">
                  <button type="button" class="btn btn-primary btn-lg btn-block">Book now!</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
    {% endblock %}