{% extends "main.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% block title %}Landing Page - Service Provider{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page_service_provider.css') }}">
{% endblock %}

{% block content %}

<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">AYS for Service Provider</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </header>
  
  <main role="main">
  
   <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Let's make your next great hire. Fast.</h1>
      <p>You know who you're looking for.
        We'll help you find them.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Post a job</a></p>
    </div>
  </div>
  
  
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Create your free account</h2>
        <p>All you need is your email address to create an account and start building your job post.</p>
      </div>
      <div class="col-md-4">
        <h2>Build your job post</h2>
        <p>Then just add a title, description, and location to your job post, and you're ready to go.</p>
      </div>
      <div class="col-md-4">
        <h2>Post your job</h2>
        <p>After you post your job use our state of the art tools to help you find dream talent.</p>
      </div>
    </div>
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Save time and effort in your hiring journey.</h2>
          <p class="lead">Finding the best fit for the job shouldn’t be a full-time job. Indeed’s simple and powerful tools let you source, screen, and hire faster.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Want to fill your job faster? Sponsor it.</h2>
          <p class="lead">Sponsored Jobs are over 4.5X more likely to result in a hire. Pick the daily budget that works for you; pay only for people clicking on your post.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">You're in good company.</h2>
          <p class="lead">Over 3,000,000 companies use Indeed to hire. See why these amazing companies use us as their platform to hire dream talent.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  
        </div>
      </div>

      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

      <div class="container">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Get started in minutes!</h1>
            <p class="lead"><a href="#" class="btn btn-primary btn-lg">Start Posting</a></p>
            <p>AYS data (worldwide)</p>
            <p>Comscore, Total Visits, March 2021</p>
        </main>
      </div>
    
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2017-2021 AYS &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>

{% endblock %}