{% extends "main.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy_policy.css') }}">
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/privacy_policy.js') }}"></script>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">AYS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Privacy Policy</h1>
      <p>Last updated: December 25, 2021</p>
    </div>
  </div>
</main>

<div class="container pt-10" data-bs-spy="scroll" data-bs-target="#list-example">
  <div class="row">
    <div class="col-3">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">Introduction</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Types of information we may collect from you</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">How we may use the information we collect</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Disclosure of your information</a>
        <a class="list-group-item list-group-item-action" href="#list-item-5">Third party links</a>
        <a class="list-group-item list-group-item-action" href="#list-item-6">Your rights – access to your personal data</a>
        <a class="list-group-item list-group-item-action" href="#list-item-7">Changes to our privacy policy</a>
        <a class="list-group-item list-group-item-action" href="#list-item-8">Contact</a>
      </div>
    </div>
    <div class="col-9">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="list-item-1">Item 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non urna consectetur, sagittis turpis ut, ullamcorper arcu. Aenean ultrices turpis dui, vitae egestas orci efficitur quis. In tristique vel augue sit amet vehicula. Aenean nec lorem ullamcorper, fringilla ligula nec, porta risus. Etiam facilisis rhoncus orci dignissim sollicitudin. Maecenas hendrerit vehicula fermentum. Fusce sem nunc, accumsan molestie lectus ac, porttitor consectetur nisl.

          Pellentesque in lectus tincidunt, pellentesque erat eu, rutrum lectus. Sed auctor rhoncus mi vel aliquam. Suspendisse porta egestas tellus, at placerat odio pulvinar nec. Quisque finibus viverra libero quis placerat. Nunc aliquet porta pretium. Quisque congue est metus, quis ullamcorper elit cursus ut. Phasellus eget elit a nulla lobortis pulvinar sed nec neque. Integer vitae aliquam elit.
          
          Duis et pharetra ex. Proin in leo ut eros ornare commodo. Donec luctus varius dui, in pellentesque nulla fermentum eget. Sed sit amet rhoncus tellus, vitae luctus ante. Duis congue fermentum purus, vel rutrum ex porttitor vitae. Donec ut pulvinar sapien. Proin tellus massa, posuere ut risus scelerisque, tempor aliquet purus. Maecenas ultricies elit non molestie sagittis. Sed augue urna, condimentum eu neque et, varius malesuada purus.
          
          Duis vitae ex in metus mattis gravida in in neque. Fusce vel libero eu mauris rutrum rhoncus. Morbi ullamcorper placerat nisi, non malesuada mi pretium a. Aliquam massa erat, fermentum sodales pellentesque eget, maximus ut elit. Vivamus laoreet mauris lectus, ut sodales lectus elementum ac. Fusce lacinia efficitur varius. Morbi orci augue, dignissim euismod libero ut, aliquam hendrerit metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus tincidunt sagittis purus quis hendrerit. Pellentesque semper metus urna, at iaculis felis hendrerit eget. Mauris quis finibus justo.
          
          Nam nec elit rhoncus, tristique arcu quis, faucibus arcu. Donec vulputate, metus ut aliquam luctus, nisi turpis pharetra felis, aliquet congue eros nunc a sapien. Nulla malesuada ac arcu ac dictum. Nullam ultrices diam nunc, at ultrices tellus cursus ac. Nunc eu mi id lectus accumsan commodo id ut metus. Fusce gravida erat vel dui elementum tristique. Morbi id urna id diam viverra ultricies quis sit amet ex. Etiam tristique eleifend molestie. Morbi pharetra leo at mi sollicitudin tristique. Suspendisse ornare viverra erat, in aliquam augue venenatis ut. Nulla facilisi. Maecenas enim odio, rutrum ac elementum sit amet, consectetur vitae justo. In et magna vel mi consectetur pellentesque in ut tortor.</p>
        <h4 id="list-item-2">Item 2</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non urna consectetur, sagittis turpis ut, ullamcorper arcu. Aenean ultrices turpis dui, vitae egestas orci efficitur quis. In tristique vel augue sit amet vehicula. Aenean nec lorem ullamcorper, fringilla ligula nec, porta risus. Etiam facilisis rhoncus orci dignissim sollicitudin. Maecenas hendrerit vehicula fermentum. Fusce sem nunc, accumsan molestie lectus ac, porttitor consectetur nisl.

          Pellentesque in lectus tincidunt, pellentesque erat eu, rutrum lectus. Sed auctor rhoncus mi vel aliquam. Suspendisse porta egestas tellus, at placerat odio pulvinar nec. Quisque finibus viverra libero quis placerat. Nunc aliquet porta pretium. Quisque congue est metus, quis ullamcorper elit cursus ut. Phasellus eget elit a nulla lobortis pulvinar sed nec neque. Integer vitae aliquam elit.
          
          Duis et pharetra ex. Proin in leo ut eros ornare commodo. Donec luctus varius dui, in pellentesque nulla fermentum eget. Sed sit amet rhoncus tellus, vitae luctus ante. Duis congue fermentum purus, vel rutrum ex porttitor vitae. Donec ut pulvinar sapien. Proin tellus massa, posuere ut risus scelerisque, tempor aliquet purus. Maecenas ultricies elit non molestie sagittis. Sed augue urna, condimentum eu neque et, varius malesuada purus.
          
          Duis vitae ex in metus mattis gravida in in neque. Fusce vel libero eu mauris rutrum rhoncus. Morbi ullamcorper placerat nisi, non malesuada mi pretium a. Aliquam massa erat, fermentum sodales pellentesque eget, maximus ut elit. Vivamus laoreet mauris lectus, ut sodales lectus elementum ac. Fusce lacinia efficitur varius. Morbi orci augue, dignissim euismod libero ut, aliquam hendrerit metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus tincidunt sagittis purus quis hendrerit. Pellentesque semper metus urna, at iaculis felis hendrerit eget. Mauris quis finibus justo.
          
          Nam nec elit rhoncus, tristique arcu quis, faucibus arcu. Donec vulputate, metus ut aliquam luctus, nisi turpis pharetra felis, aliquet congue eros nunc a sapien. Nulla malesuada ac arcu ac dictum. Nullam ultrices diam nunc, at ultrices tellus cursus ac. Nunc eu mi id lectus accumsan commodo id ut metus. Fusce gravida erat vel dui elementum tristique. Morbi id urna id diam viverra ultricies quis sit amet ex. Etiam tristique eleifend molestie. Morbi pharetra leo at mi sollicitudin tristique. Suspendisse ornare viverra erat, in aliquam augue venenatis ut. Nulla facilisi. Maecenas enim odio, rutrum ac elementum sit amet, consectetur vitae justo. In et magna vel mi consectetur pellentesque in ut tortor.</p>
        <h4 id="list-item-3">Item 3</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non urna consectetur, sagittis turpis ut, ullamcorper arcu. Aenean ultrices turpis dui, vitae egestas orci efficitur quis. In tristique vel augue sit amet vehicula. Aenean nec lorem ullamcorper, fringilla ligula nec, porta risus. Etiam facilisis rhoncus orci dignissim sollicitudin. Maecenas hendrerit vehicula fermentum. Fusce sem nunc, accumsan molestie lectus ac, porttitor consectetur nisl.

      Pellentesque in lectus tincidunt, pellentesque erat eu, rutrum lectus. Sed auctor rhoncus mi vel aliquam. Suspendisse porta egestas tellus, at placerat odio pulvinar nec. Quisque finibus viverra libero quis placerat. Nunc aliquet porta pretium. Quisque congue est metus, quis ullamcorper elit cursus ut. Phasellus eget elit a nulla lobortis pulvinar sed nec neque. Integer vitae aliquam elit.

      Duis et pharetra ex. Proin in leo ut eros ornare commodo. Donec luctus varius dui, in pellentesque nulla fermentum eget. Sed sit amet rhoncus tellus, vitae luctus ante. Duis congue fermentum purus, vel rutrum ex porttitor vitae. Donec ut pulvinar sapien. Proin tellus massa, posuere ut risus scelerisque, tempor aliquet purus. Maecenas ultricies elit non molestie sagittis. Sed augue urna, condimentum eu neque et, varius malesuada purus.

      Duis vitae ex in metus mattis gravida in in neque. Fusce vel libero eu mauris rutrum rhoncus. Morbi ullamcorper placerat nisi, non malesuada mi pretium a. Aliquam massa erat, fermentum sodales pellentesque eget, maximus ut elit. Vivamus laoreet mauris lectus, ut sodales lectus elementum ac. Fusce lacinia efficitur varius. Morbi orci augue, dignissim euismod libero ut, aliquam hendrerit metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus tincidunt sagittis purus quis hendrerit. Pellentesque semper metus urna, at iaculis felis hendrerit eget. Mauris quis finibus justo.

      Nam nec elit rhoncus, tristique arcu quis, faucibus arcu. Donec vulputate, metus ut aliquam luctus, nisi turpis pharetra felis, aliquet congue eros nunc a sapien. Nulla malesuada ac arcu ac dictum. Nullam ultrices diam nunc, at ultrices tellus cursus ac. Nunc eu mi id lectus accumsan commodo id ut metus. Fusce gravida erat vel dui elementum tristique. Morbi id urna id diam viverra ultricies quis sit amet ex. Etiam tristique eleifend molestie. Morbi pharetra leo at mi sollicitudin tristique. Suspendisse ornare viverra erat, in aliquam augue venenatis ut. Nulla facilisi. Maecenas enim odio, rutrum ac elementum sit amet, consectetur vitae justo. In et magna vel mi consectetur pellentesque in ut tortor.</p>
        <h4 id="list-item-4">Item 4</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non urna consectetur, sagittis turpis ut, ullamcorper arcu. Aenean ultrices turpis dui, vitae egestas orci efficitur quis. In tristique vel augue sit amet vehicula. Aenean nec lorem ullamcorper, fringilla ligula nec, porta risus. Etiam facilisis rhoncus orci dignissim sollicitudin. Maecenas hendrerit vehicula fermentum. Fusce sem nunc, accumsan molestie lectus ac, porttitor consectetur nisl.

      Pellentesque in lectus tincidunt, pellentesque erat eu, rutrum lectus. Sed auctor rhoncus mi vel aliquam. Suspendisse porta egestas tellus, at placerat odio pulvinar nec. Quisque finibus viverra libero quis placerat. Nunc aliquet porta pretium. Quisque congue est metus, quis ullamcorper elit cursus ut. Phasellus eget elit a nulla lobortis pulvinar sed nec neque. Integer vitae aliquam elit.

      Duis et pharetra ex. Proin in leo ut eros ornare commodo. Donec luctus varius dui, in pellentesque nulla fermentum eget. Sed sit amet rhoncus tellus, vitae luctus ante. Duis congue fermentum purus, vel rutrum ex porttitor vitae. Donec ut pulvinar sapien. Proin tellus massa, posuere ut risus scelerisque, tempor aliquet purus. Maecenas ultricies elit non molestie sagittis. Sed augue urna, condimentum eu neque et, varius malesuada purus.

      Duis vitae ex in metus mattis gravida in in neque. Fusce vel libero eu mauris rutrum rhoncus. Morbi ullamcorper placerat nisi, non malesuada mi pretium a. Aliquam massa erat, fermentum sodales pellentesque eget, maximus ut elit. Vivamus laoreet mauris lectus, ut sodales lectus elementum ac. Fusce lacinia efficitur varius. Morbi orci augue, dignissim euismod libero ut, aliquam hendrerit metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus tincidunt sagittis purus quis hendrerit. Pellentesque semper metus urna, at iaculis felis hendrerit eget. Mauris quis finibus justo.

      Nam nec elit rhoncus, tristique arcu quis, faucibus arcu. Donec vulputate, metus ut aliquam luctus, nisi turpis pharetra felis, aliquet congue eros nunc a sapien. Nulla malesuada ac arcu ac dictum. Nullam ultrices diam nunc, at ultrices tellus cursus ac. Nunc eu mi id lectus accumsan commodo id ut metus. Fusce gravida erat vel dui elementum tristique. Morbi id urna id diam viverra ultricies quis sit amet ex. Etiam tristique eleifend molestie. Morbi pharetra leo at mi sollicitudin tristique. Suspendisse ornare viverra erat, in aliquam augue venenatis ut. Nulla facilisi. Maecenas enim odio, rutrum ac elementum sit amet, consectetur vitae justo. In et magna vel mi consectetur pellentesque in ut tortor.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}